.profile-container {
  /* margin-top: var(--header-height); */
  margin-top: 120px;
  margin-bottom: 100px;
}

.adminAccounts {
  margin-top: var(--header-height);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.adminAccounts__container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 1200px;
  width: 100%;
  gap: 2rem;
}

.adminAccounts__content {
  flex: 1;
  text-align: left;
}

.adminAccounts__title {
  color: var(--first-color);
  font-size: var(--section-font-size);
  font-family: var(--body-font);
  font-weight: var(--font-semi-bold);
  text-align: left;
  margin-top: 1rem;
}

.description {
  font-size: var(--h2-font-size);
  line-height: 1.6;
  color: var(--text-color);
  max-width: 500px;
  margin-top: 0;
}

/* ======= ADMIN ACCOUNT LAYOUT ======= */

.adminAccountsLayout {
  background-image: url("../images/AdminParkingBG.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 2rem;
  min-height: 100vh;
}

.adminAccountsLayout__container {
  display: flex;
  gap: 2rem;
  padding: 2rem;
  max-width: 1250px;
  margin: 0 auto;
  border-radius: 10px;
  align-items: flex-start;
}

.accountsTable__title {
  font-weight: var(--font-semi-bold);
}

/* SIDE ACCOUNTS */
.accountsCategoryTable__container {
  width: 150px;
  background-color: white;
  border-radius: 10px;
  padding: 1rem;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

.accountsCategoryTable__content {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  color: #747474;
  gap: 0.5rem;
  align-items: center;
}

/* BUTTONS */

.accountsButton {
  width: 100%;
  text-align: center;
  font-family: var(--body-font);
  color: var(--first-color);
  font-weight: var(--font-medium);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: rgb(255, 255, 255);
}

.accountsButton:hover {
  background-color: rgb(230, 228, 228);
}

.accountsButton.active {
  background-color: rgb(230, 228, 228);
  color: var(--first-color);
  font-weight: bold;
  border-radius: 50px;
}

.accountsTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

.accountsTable th,
.accountsTable td {
  border: 1px solid #ccc;
  padding: 0.75rem;
  text-align: left;
}

.accountsTable th {
  background-color: #f5f5f5;
}

.accountsTable__container {
  background-color: white;
  border-radius: 12px;
  padding: 1rem;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

/* WHOLE Table container */
.adminAccountsTable__container {
  display: flex;
  background-color: white;
  border-radius: 12px;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* ========== MIN: 390px - MAX: 768px ========== */
@media (min-width: 390px) and (max-width: 768px) {
  .parkingOverview__container {
    flex-direction: column;
    text-align: center;
  }
}
