/*=============== HOME ===============*/
.home {
  margin-top: var(--header-height);
  position: relative;
  background-image: url("../images/homeBG4.png");
  /* background-color: blue; */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 2rem;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home__container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 1150px;
  width: 100%;
  gap: 2rem;
}

.home__content {
  flex: 1;
  text-align: left;
}

.home__title {
  color: var(--first-color);
  font-size: var(--biggest-font-size);
  font-family: var(--body-font);
  font-weight: var(--font-semi-bold);
  text-align: left;
  margin-top: 1.5rem;
}

.subheading {
  font-size: 1.6rem;
  font-style: italic;
  font-weight: 600;
  color: var(--first-color);
}

.description {
  font-size: 1rem;
  line-height: 1.6;
  color: var(--text-color);
  max-width: 500px;
  margin-top: 1.5rem;
}

.home__image {
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 10px;
}

.button-container {
  display: flex;
  gap: 1rem; /* Adjust spacing between buttons */
  justify-content: start; /* Centers buttons horizontally */
  align-items: center; /* Aligns them properly */
  margin-top: 1.5rem;
}

/* ========== MIN: 390px - MAX: 768px ========== */
@media (min-width: 390px) and (max-width: 768px) {
  .home__container {
    flex-direction: column;
    text-align: center;
  }
  .home__image {
    margin-top: 2rem;
  }
}
